/* Admin Panel Main Frame */
div.plc-admin {
    margin: 0 0 -65px -20px;
}

/* Admin Panel Settings Wrapper */
div.plc-settings-wrapper {
    margin:0; padding:0; display: block !important;
}

/* Admin Panel Settings Header */
div.plc-settings-header {
    padding: 20px 50px 80px; background:#13b4df;
}

/* Admin Panel Settings Header Content */
div.plc-settings-header-main {
    padding-top:12px; position: relative; display: flex; justify-content: space-between;
}

/* Admin Panel Settings Header Title */
div.plc-settings-header-main-title {
    height: 52px;line-height: 52px;font-size: 17px;color:#fff;margin: 0;
}

/* Admin Panel Main Content Section */
main.plc-admin-main {
    position: relative;background:#fff;border-radius: 5px;margin: -60px 50px 0;box-shadow: 0 3px 6px rgba(0,0,0,.11);min-height: 600px;
}

/* Admin Panel Header Menu Container */
div.plc-admin-menu-container {
    width:100%; padding-left:40px; display: inline-block; float:left; border-bottom:1px solid lightgray;
}

/* Admin Menu List */
ul.plc-admin-menu-list {
    margin: 20px 0; list-style-type: none; padding: 0;
}

/* Admin Menu List Item Container */
li.plc-admin-menu-list-item {
    margin: 0 30px 0 0;
    position: relative;
    float: left;
}

/* Admin Menu List Item (Navi) */
li.plc-admin-menu-list-item a {
    display: block;
    position: relative;
    color: #80a5bb;
    line-height: 1;
    padding: 24px 2px 21px;
    font-size: 15px;
    font-weight: 400;
    color: #444f5b;
    text-decoration: none;
}

/* The switch - the box around the slider */
.plc-settings-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.plc-settings-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.plc-settings-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.plc-settings-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .plc-settings-slider {
    background-color: #2196F3;
}

input:focus + .plc-settings-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .plc-settings-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



.plc-alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:250px;
    position: absolute;
}
.plc-alert-heading {
    color: inherit;
}
.plc-alert .close {
    position: relative;
    top: -2px;
    right: 0;
    line-height: 18px;
}

.plc-alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.plc-alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.plc-alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.plc-admin-page {
    display: none;
}

.plc-admin-settings-field {
    width:100%;
    padding:4px 0 4px 0;
}

/* The slider itself */
.plc-settings-range-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.plc-settings-range-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.plc-settings-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.plc-settings-range-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}